<header th:fragment="header" xmlns:th="http://www.w3.org/1999/xhtml">
    <!-- Static navbar -->
    <nav class="navbar navbar-default">
        <div class="container-fluid">

            <a class="navbar-brand" href="/">Rent a Campus'Car</a>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/clients">Clients</a></li>
                    <li><a href="/reservations">Reservations</a></li>
                    <li><a href="/vehicules">Vehicles</a></li>
                    <li><a href="http://172.22.119.142:9001/">Go to Front Office</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
    </nav>
</header>