<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<head>
    <meta charset="UTF-8" />
    <title>Client List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}"/>
</head>
<body>
<form th:action="@{'/client/update/' + ${client.getId()}}" th:object="${client}" method="POST">
    Firstname: <input type="text" th:field="*{id}" />

    Firstname: <input type="text" th:field="*{firstname}" />
    <br/>
    Lastname:<input type="text" th:field="*{lastname}" />
    <br/>
    dateOfBirth: <input type="text" th:field="*{dateOfBirth}" />
    <br/>
    licenseObtentionDate:<input type="text" th:field="*{licenseObtentionDate}" />
    <br/>
    driversLicenseNumber: <input type="text" th:field="*{driversLicenseNumber}" />
    <br/>
    mail:<input type="text" th:field="*{mail}" />
    <br/>
    password:<input type="text" th:field="*{password}" />
    <br/>
    <input type="submit" value="Update"/>
</form>
</body>
</html>