<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<h1>Vehicles List</h1>
<br/><br/>
<div>
    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th scope="col">Registration Number</th>
            <th scope="col">Make</th>
            <th scope="col">Model</th>
            <th scope="col">Colour</th>
            <th scope="col">Reservation Price</th>
            <th scope="col">Price per km</th>
            <th scope="col">Horse Power</th>
            <th scope="col">Update</th>
            <th scope="col">Delete</th>
        </tr>
        </thead>
        <tr th:each ="vehicule : ${vehiculeList}">
            <td th:utext="${vehicule.registrationNbr}">...</td>
            <td th:utext="${vehicule.make}">...</td>
            <td th:utext="${vehicule.model}">...</td>
            <td th:utext="${vehicule.colour}">...</td>
            <td th:utext="${vehicule.reservationPrice}">...</td>
            <td th:utext="${vehicule.pricePerKm}">...</td>
            <td th:utext="${vehicule.horsePower}">...</td>
            <td><a th:href="@{'/vehicule/update/' + ${vehicule.registrationNbr}}">Update Vehicle</a></td>
            <td>
                <form th:action="@{'/vehicule/delete/' + ${vehicule.registrationNbr}}" th:object="${vehicules}" method="GET">
                    <input type="submit" value="Delete"/>
                </form>
            </td>
        </tr>
    </table>
</div>
<div style="text-align: center">
    <a href="../addVehicule">Add New Vehicle</a>
</div>

</body>
</html>